@media screen and (width<=768px) {
    :root{
        font-size: 60%;
    }
    .hamburger{
        display: block;
        position: absolute;
        color: #181818;
        z-index: 555;
        top: 1rem;
        left: 1rem;
    }
    .header{
        
        display: none;
        position: relative;
        padding: 10rem 1.5rem;
        width: 30%;
        flex-direction: column;
        align-items: start;
        gap: 3rem;
        justify-content: flex-start;
        height: 100vh;
        .logo{
            margin-left: 0;
            align-self: center;
        }
        .nav{
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            gap: 1rem;
            margin-right: 0;
            .navIcons{
                align-self: center;
            }
            .navItems{
                flex-direction: column;
                align-self: center;                
                gap: 0.4rem;
            }
        }
    }
}

@media screen and (width<=600px) {
    :root{
        font-size: 50%;
    }
    .header{
    .logo{
        img{
            width: 13rem;
        }
    }
    }
}