:root{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
$primaryColor:#FF8C32;
$darkColor:#06113C;

$secondaryColor:#DDDDDD;
$tertiaryColor:#EEEEEE;

$pureWhite:#fff;
$halfWhite:#d3d3d3;
@import "mixins";
@import "header";
@import "home";
@import "footer";
@import "mediaqueries";